{% extends 'index/clientes.html' %}

{% block 'body_aeroBikes'  %}

        <p class='linkead'>
            <a class='buttonRuta' href= {% url 'clientes'%}>Volver</a>
        </p>


        <p>
            <a class='buttonRuta' href={% url 'crear_cicloturista'%}>Crear Cicloturista</a>
        </p>

        <form action="" method="get">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button class="btn btn-info" >Buscar</button>
        </form> 
            {% for cicloturista in cicloturistas %}
            <li>
                <a class='buttonRuta' href={% url "detalle_cicloturista" cicloturista.id %}>{{cicloturista}}</a>
                <a class='buttonRuta' href={% url "editar_cicloturista" cicloturista.id %}>Editar</a>
                <a class='buttonRuta' href={% url "borrar_cicloturista" cicloturista.id %}>Borrar</a>
            </li>
            {% endfor %}
{% endblock 'body_aeroBikes' %}