{% extends 'index/clientes.html' %}

{% block 'body_aeroBikes'  %}

        <p>
            <a class='buttonRuta' href={% url 'clientes'%}>Volver</a>
        </p>

        <p>
            <a class='buttonRuta' href={% url 'crear_corredor'%}>Crear Corredor</a>
        </p>

        <form action="" method="get">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Buscar</button>
        </form> 
            {% for corredor in corredores %}
            <li>
                <a class='buttonRuta' href={% url "detalle_corredor" corredor.id %}>{{corredor}}</a>
                <a class='buttonRuta' href={% url "editar_corredor" corredor.id %}>Editar</a>
                <a class='buttonRuta' href={% url "borrar_corredor" corredor.id %}>Borrar</a>
            </li>
            {% endfor %}
{% endblock 'body_aeroBikes' %}