{% extends 'index/index.html' %}

{% block 'body_aeroBikes2'  %}

{% comment %} <img class="aero3" src={% static "index/img/aerobikes4.jpg"%}> {% endcomment %}



<p class='textAeroAboutUs'> 
    Somos unos apasionadas por la bicicleta con mas de 18 años de experiencia en el rubio. En este momento contamos con dos locales comerciales 
    ubicados en la localidad de Villa Carlos Paz. Representantes de Specialized Argentina e importantes marcas de accesorios e indumentaria como : Magenta , Santini, Garmin, Fox, Rockshox, Mavic, Maxxis, WD-40, Slime, oakley y mas...
    Esperamos tu visita en nuestro sitio web o en nuestros locales comerciales.
    
    ¡Saludos y que tengas una buena pedaleada!
</p>

{% endblock 'body_aeroBikes2' %}


