{% extends 'index/index.html' %}
{% load static %}

{% block 'body_aeroBikes2'  %}

<p>
    <a class="productosRuta" href={% url 'index'%}>Volver</a>
</p> 
{% for ruta in ruta %}

<p>
    <li>Marca: {{ruta.marca}}</li>
    <li>Modelo: {{ruta.modelo}}</li>
    <li>Características: {{ruta.caracteristicas | safe }}</li>
    <li>Imagen: <img src="{{ ruta.imagen_ruta.url}}" alt="Imagen del producto"></li>
    <li>Fecha creación: {{ruta.fecha_creacion}}</li>
</p>

{% endfor %}
{% endblock 'body_aeroBikes2' %}