#more {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#more4 {
    display: none;
}

.forms {
    align-items: center;
    text-align: center;
    justify-content: center;
}